@include breakpoint(lg){
	.container{
		width:1200px;
		overflow: visible;
		padding-#{$left}: 15px;
		padding-#{$right}: 15px;
	}
	.layout-1.common-home .vertical .vertical-wrapper {
		display: block !important;
	}

}