/*===============================================
	[SASS DIRECTORY ]
	
    [1] SO LATEST BLOG
    [2] CATEGORY SIMPLE BLOG
    [3] SIMPLE BLOG
    [4] ARTICLE INFO
	
==============================================*/

.blog-listitem{
  .blog-item{
    margin-bottom: 30px;
    .itemBlogContent{
      h4{
        margin: 10px 0;
        a{

        }
      }
      .blog-meta{
        .author{
          float: $left;
          margin-#{$right}: 15px;
        }
      }
    }
  }
}

/*============SIMPLE BLOG ==================*/
.simple_blog-category{
  .filters-panel{
    background-color: #fff;
  }
  .product-filter-top{
    display: none;
  }
  .filters-panel.product-filter-bottom {
    border-top: 1px solid #eaeaea;
    .pagination{
      text-align: center;
      width: 100%;
      margin-top: 30px;
      li{
        a,
        span{
          width: 35px;
          height: 35px;
          text-align: center;
          line-height: 35px;
          margin: 0 3px;
        }
      }
      li.active span, 
      > li:hover span{
        background-color: $background;
        border-color: $background;
        color: #fff;
      }
    }
  }
}


.blog-header{margin-bottom: 30px; display: none;
    h3{font-weight: bold;text-transform: uppercase;margin: 0; @include rem(font-size, 16px);}
}

.blog-listitem.grid .itemBlogImg.left-block{
    display: block;
    position: relative;
}
.blog-listitem.list .blog-item .itemBlogImg .article-image{margin:0;}
.blog-listitem.list{
  .blog-item .itemBlogContent{
    .blog-date{
      width: 100%;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      margin-bottom: 30px;
    }
    .blog-content{
      margin-#{$left}: 0;
    }
  }   
}
.blog-listitem.grid .blog-item .itemBlogContent{

} 
.blog-listitem{
    .blog-item{
        
        .blog-item-inner{
          display: inline-block;
          margin-bottom: 20px;
          .left-block{
            float: $left;
            width: 100%;
            margin-bottom: 20px;
          }
          .right-block{
            float: $left;
            width: 100%;
          }

          .blog-date{
              font-size: 12px;
              color: #b3b3b3;
              i{
                  margin-#{$right}: 8px;
              }
          }
          .blog-content{
              float: none;
              margin-top: 10px;
              .article-title{
                  /*margin-bottom: 10px;
                  margin-top: 10px;*/
              }              
              h4{
                  font-weight: 700;    
                  margin-bottom: 10px; 
                  a{
                      color: #222;
                      font-size: 14px;
                      padding: 0;
                      text-transform: uppercase;
                      font-weight: 700;   
                      &:hover{
                          color: $linkColor;
                      }
                  }
              }
              .article-description{
                  line-height: 20px;
                  margin-bottom: 12px;
                  font-size: 12px;
                  color: #474747 ;     
                  float: $left;
                  width: 100%;
                  border-top: 1px solid $base-border-color;
                  margin-top: 10px;
                  padding-top: 15px;
              }
              .blog-meta{
                  float: $left;
                  clear: none;
                  font-size: 12px;
                  color: #b3b3b3;
                  i{
                      padding-#{$right}: 10px;                                
                  }
                  .author{
                      border: none;
                      color: #b3b3b3;
                  }
                  .comment_count{
                      padding: 0;
                      float: $left;
                      margin-#{$right}: 25px;
                      a{
                        color: #b3b3b3;
                      }
                  }
              }
      
              a.btn-viewmore{
                  color: $linkColor;
                  float: $left;
                  width: 100%;
                  font-size: 13px;
                  &:hover{
                      color: darken($linkColor,10%);
                  }
                  i{
                      padding-#{$right}: 8px;           
                      line-height: 23px;
                      &:before{
                          @include if-rtl {
                              content: "\f0d9"; 
                          } 
                      }
                  }
              }                              
          }

        }
        .article-description{

        }
        .article-image{
          img{width: 100%;}
        }
  
      }
}
.simple-blog-product h4{@include rem(font-size, 14px);}
/*============ARTICLE INFO==================*/
div.article-info{
    
    .article-title{
        h3{
            font-size: 20px;
            text-transform: uppercase;
            color: #1e1e1e;
            font-weight: bold;
            margin: 0 0 15px;
        }
    }
    .article-sub-title{
        display: inline-block;width:100%;
        span{
            display: block;
            float: $left;
            color: $input-color-placeholder;
            padding: 0 10px; font-size: 13px;
           
            &.article-author{padding-#{$left} : 0;
                a{ @include linkGraylighter(); font-size: 13px;}
            }
            &.article-comment{border-#{$right} : 0;}
        }
        .article-share{display: none;}
    }
    .article-image{ margin-bottom: 30px; 

    }
    .article-description{}
    
    .related-comment{
        border-radius: 0;
        border: 0;
        border-top: 1px solid #e6e6e6;
        padding-top: 40px;
        box-shadow: none;
        margin-top: 40px;
        .article-reply{
            border: none;
            background: #f9f9f9;
            .author{
                font-weight: bold;
                font-size: 16px;
            }
            .article-reply{
                background: #f4f3f3;
            }
        }
        .panel-body{padding: 0; border: 0;
            .form-group #comments{padding: 0; border: 0; overflow: hidden;
                h2#review-title{
                    margin: 0 0 30px;
                    padding: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    color: #121212;
                }
            }
        }
        #button-comment{
            background: $background1;
            border-color: $linkColor;
            text-transform: uppercase;
            @media (min-width:992px){
                padding: 10px 52px;
            }    
            &:hover{
                background: #444;
                border-color: #444;
            }
        }
    }
   
    .itemFullText{text-align: justify;}
}
/*============ARTICLE COMMENTS==================*/
.comments {
  margin-bottom: 30px;
}
.comments.comments-level-1 {
  margin-#{$left}: 136px;
}
.comments .pull-left {
  width: 100px;
  height: 100px;
  display: block;
  background-color: #f5f5f5;
  margin-#{$right}: 30px;
  position: relative;
  padding: 0;
}
.comments .pull-left .fa {
  font-size: 46px;
  display: block;
  text-align: center;
  margin: 25px 0;

}
.comments .pull-left img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.comments .pull-left span {
  position: absolute;
  display: inline-block;
  top: 15%;
}
.comments .media-body .media-title {
  color: #1fc0a0;
  padding-bottom: 14px;
}
.comments .media-body .media-title .username {
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, sans-serif;
  display: inline-block;
  margin-#{$right}: 14px;
}
.comments .media-body .media-title .time {
  font-size: 16px;
}

.comments .media-body .media-title .time .fa {
  font-size: 20px;
  margin-#{$right}: 13px ;
  position: relative;
  top: 3px;
}

.comments .media-body .media-title .link:hover {
  text-decoration: none;
}
@media (max-width: 745px) {
  .comments {
    margin-bottom: 28px;
  }
  .comments.comments-level-1 {
    margin-#{$left}: 70px;
  }
  .comments .pull-left {
    width: 70px;
    height: 70px;
    margin-#{$right}: 20px;
  }
  .comments .pull-left:before {
    font-size: 46px;
    line-height: 1em;
    top: 10px;
  }
  .comments .media-body .media-title time {
    display: block;
  }
  .comments .media-body .media-title time .icon {
    font-size: 20px;
    margin: 0 6px 0 0;
    position: relative;
    top: 3px;
  }
}


