/*===============================================
    [SASS DIRECTORY ]


    
==============================================*/

.content-aside{
    margin-bottom: 30px;
}


.banner-sidebar a img{
    width: 100%;
}

#sosearchpro.so-search{
    width: 100%;
    padding: 0;
}

.sohomepage-slider .form-group{
    margin-bottom: 0;
}

.content-aside .module.banner-left{
        border: none;
    }

#content div.so-deal .extraslider-inner .item{
    border: none;
}
/*============MODULE DEFAULT ==================*/
.module.sohomepage-slider .so-homeslider{
    direction: ltr;
}

.module .so-extraslider .extraslider-inner{
    border: none;
}
#content .sohomepage-slider .sohomeslider-description h2{
    margin: 0;
}
#content .module {
    h2{
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 30px;
    }
    h3.modtitle{
        font-size: 16px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 30px;
        span{
            font-size: 16px;
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
        }
    } 
}
.content-aside{
    .module {
        border: 1px solid $base-border-color;
        margin-bottom: 40px;
        h3.modtitle2,
        h3.modtitle{
            border-bottom: 1px solid $base-border-color;
            font-size: 16px;
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #f8f8f8;
            margin: 0;
            padding: 15px;
            span{
                font-size: 16px;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
            }
        } 
        .modcontent{
            padding: 15px 20px;
        }
    }
}



.top-brand.arrow-default .owl2-nav { 
    position: static;
}
.yt-content-slider.arrow-default .owl2-nav{ position: static; }
.module.sohomepage-slider .so-homeslider img{ transform-style: initial; }
.title-margin{ 
    h3.modtitle{margin-bottom: 15px;}
}
.title-underline{
    h3.modtitle{font-size: 16px; text-transform: uppercase; font-weight: bold; position: relative;
        &:after{content:" "; width: 125px; height: 1px; background: $background; display: block; position: absolute; bottom: 0;margin-bottom: -1px; }  
    }
    
}

.bordered_content {
    
}
.yt-content-slider .owl2-controls{margin: 0;}


/*============MODULE NEWLETTER POPUP ==================*/
.newsletter{
    #signup{
        .show-error{
            float: $left;      
            padding-top: 7px;
            color: #f55 !important;
        }
    }
}

.module.main-newsleter-popup{
    .so-custom-popup{padding: 0; background-repeat: no-repeat !important; background: #fff;
        @include breakpoint(sm){width:85% !important;
            &:before{content: "";position: absolute;z-index: 2;background: rgba(255,255,255,0.9);width:100%;height: 100%;top:0;right: 0;}
        }
         @include breakpoint(xs){
            &:before{content: "";position: absolute;z-index: 2;background: rgba(255,255,255,0.9);width:100%;height: 100%;top:0;right: 0;}
        }
        .popup-close{
            width: 30px;
            height: 30px;
            line-height: 30px;            
            @include opacity(1);
            color: #666;
            background-color: transparent;  
            right: 0;
            top: 0; 
            &:hover{
                color: $linkColor;
            }           
        }
    }
    .modcontent{position: relative;}
    .so-custom-popup .oca_popup .popup-content{padding: 15px 10px; text-align: center;
        @include breakpoint(lg){padding: 75px 30px 55px 44%;margin: 0 20px;}
        @include breakpoint(md){padding: 75px 30px 55px 44%;margin: 0 20px;}
        .popup-title{font-weight: 700;font-size: 30px;color: #1b1b1b;text-transform: uppercase;}
        .newsletter_promo {font-size: 14px;color: #666;font-weight: 400; }
        .email{margin: 20px 0 25px 0;}
        .form-control{
            background: #fff none repeat scroll 0 0;
            border: 1px solid #cbcbcb;
            border-radius: 0px;
            color: #666;
            font-size: 100%;
            font-weight: 400;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            text-align: $left;
            width: 100%;
        }
        .hidden-popup{font-weight: 400; color: #666; padding-bottom: 20px;
            &:hover{cursor: pointer;}
        }
        .input-control{
            position: relative;
            padding-#{$right}: 100px;
        }
        .btn-default{
            position: absolute;
            top: 0;
            #{$right}: 0;
            background-color: #2a2a2a;
            border: none;
            border-radius: 0px;
            color: #fff;
            font-size: 100%;
            font-weight: 400;
            height: 40px;
            line-height: 30px;
            margin-top: 0px;               
            text-transform: capitalize;
            padding: 0 25px;
            font-size: 12px;
            &:hover{
                background-color: $background;
            }
        }
        .newsletter_promo{ padding: 10px 0; margin: 0;}

        .socials{
            li{
                display: inline-block;
                margin: 0 25px;
                a{
                    color: #898989;
                    font-size: 18px;
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
        }
    }
}
.main-newsleter-popup .show-error {
    display: inline-block;
    margin-left: 0 !important;
    position: relative;
    top: -10px;
    width: 100%;
}
/*============ MODULE LOGIN POPUP ==================*/
body #so_sociallogin{
    .block-popup-login{
        .tt_popup_login{
            border: none;
            background-color: $background;
            height: 42px;
            strong{
                font-size: 16px;
                font-weight: 700;
                background-color: $background;
                line-height: 42px;
                position: static;
                background-position: 20px center;
                padding-left: 70px;
                &:before{
                    display: none;
                }
            }
                
        } 
        .close-login{
            background-image: none;
            text-indent: 0;
            font-size: 24px;
            color: #fff;
            top: 7px;
            right: 5px;
        }
        .block-content{
            .login-customer{
                h2{
                    font-size: 16px;
                    font-weight: 700;
                }
                
            }
            .input-text{
                border-radius: 0;
            }
            .btn-reg-popup{
                font-size: 14px;
                padding: 0 20px;
                background-color: #666;
                border-radius: 4px;
                &:hover{
                    background-color: $background;
                }
            }
            .action.login{
                background-image: none;
                padding: 0 20px;
                background-color: #666;
                border-radius: 4px;
                &:hover{
                    background-color: $background;
                }
            }
        }
    } 
}

/*============ BREADCRUMB ==================*/
.breadcrumbs{
    background-color: #efefef;
    margin-bottom: 60px;
    .current-name{
        font-size: 18px;
        color: $textColor2;
        text-transform: uppercase;
        float: $left;
        font-weight: 700;
        margin: 25px 0;
    }
    ul.breadcrumb{
        float: $right;
        width: auto;
    }
}
ul.breadcrumb {
    margin: 20px 0;
    background-color: transparent;
    padding: 0;
    display: inline-block;
    width: 100%;
    font-size: 14px;
     
    li {
        //color: #fff;
        display: inline-block;
        padding: side-values(0 17px 0 8px);
        margin-#{$right}: 7px;
        position: relative;

        &:before{
            display: none;
        }
        //@include if-ltr {
            &:not(:last-child):after{
              background-color: #464646;
              width: 6px;
              height: 6px;
              @include transform(rotate(45deg));
              position: absolute;
              content: "";
              top: 9px;
              #{$right}: 0;
              
            }
        //}
        @include if-rtl {
            /*&:not(:last-child):after{
              font-family: 'FontAwesome';
              content: '\f104';
              font-size: 14px;
              position: absolute;
              top: -1px;
              left: 0;     
            }*/
        }

        a {
            display: block;
            padding: 0;
            color: #464646;
            text-decoration: none !important;
            //color: #fff;
        }

        &:last-child {
            padding: 5px 0px;
            a{
                color: $linkColor;
            }               
        }
        &:hover a{
            color: $linkColor;
        }
    }
}


/*=========== BLOCK SIDEBAR ==================*/


.content-aside .product-simple{
    position: relative;
    .so-extraslider{
        margin: 0;
        .owl2-controls{
            .owl2-nav{
                #{$right}: 0px !important;
                @include owl2-nav-style(30px,18px,#222);
                > div{
                    margin-top: 0;
                    line-height: 28px !important;
                    &:before{
                        position: static;
                        font-weight: 400;
                    }
                }
                
            }
        }
        &:hover{
            .owl2-controls{
                .owl2-nav > div{     
                    /*@include transform(scale(1));          
                    @include effect-block-show();*/
                }
            }
        }
        .extraslider-inner{
            .item {
                .item-inner{
                    display: inline-block;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                    border-bottom: 1px solid $base-border-color;
                    &:last-child{
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                    .item-image{
                        width: 90px;
                        float: $right;       
                        a{
                            
                        }                
                           
                    }
                    .item-info{
                        margin-top: 10px;
                        margin-#{$right}: 95px;
                        background: transparent;
                        color: #666;
                        .item-title{
                            line-height: 100%;
                            margin-bottom: 7px;
                            padding: 0;
                            a{
                                @include rem(font-size,13px);
                                font-weight: 400;
                                text-transform: capitalize;
                                line-height: 17px;
                            }
                        }
                
                    }
                    &:hover{
                        .item-image{                                  
                            
                        }
                    }
                }
            }
        }
    }
}

/*============ MODULE MEGAMENU HORIZONTAL  ==================*/


.container-megamenu ul.megamenu li{
    .sub-menu{
        z-index: 998;
        .content{
            box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
            padding: 30px;
        }
    }
    &.menu-layouts{
        .sub-menu .content{
            padding: side-values(30px 30px 10px 30px);
        }
    }
} 
        
/*---mega menu horizontal level 1--*/
.container-megamenu.horizontal{
    ul.megamenu{
        > li{
            float: $left;
            margin-#{$right}: 25px;
            > a{
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                color: #222;
                display: block;
                position: relative;
                padding: 25px 0 16px 0;
                line-height: 100%;
                height: auto;
                strong{
                    font-weight: 600;
                }
                .caret{
                    color: #7d7d7d;
                }
            }
            
            &.with-sub-menu.hover{
                > a{
                    
                  }
                &:hover{ }
            }
            &.special-2{
                margin-#{$right}: 0;
            }
            &.special-2,
            &.special-offer{                
                > a{
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 14px;
                    color: #555;
                    strong{
                        font-weight: 400;
                    }
                }                
            }

        }
    }        
    //ul.megamenu > li:hover > a,
    //ul.megamenu > li > a:hover,
    ul.megamenu > li.active > a,
    ul.megamenu > li.active_menu > a{
        color: $linkColor;
    }
}

.container-megamenu.horizontal{
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li{ line-height: 30px; }
    .title-feature,
    ul.megamenu .title-submenu,
    ul.megamenu li .sub-menu .content .static-menu a.main-menu,
    ul.megamenu .subcategory  a.title-submenu{ line-height: 100%; text-transform: uppercase; font-weight: bold; color: #000; 
        padding-bottom: 12px; margin-bottom: 6px; @include rem(font-size,15px); border-bottom: 1px solid #eaeaea;
    }
    .content-feature li a,
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a,
    ul.megamenu li .sub-menu .content .html a.subcategory_item,
    ul.megamenu .sub-menu .content .hover-menu .menu ul a.main-menu{ line-height: 30px; font-size: 14px; font-weight: 400;  color: #464646; 
        &:hover{ color: $linkColor; }
    }
    ul.megamenu > li > a strong img{ position: absolute; top: 3px; #{$right}: 0px;  height: auto; margin: 0;}

    .content-feature li.detail{
        margin-top: 20px;
    }

    /*-------- SUB MENU HORIZONTAL ----------*/
    ul.megamenu .sub-menu .content > .border{
        border: none;
        padding-top: 0;
    }
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul,
    ul.megamenu .title-submenu{
        padding: 0;
    }
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li::before,
    ul.megamenu li .sub-menu .content .hover-menu a::before{
        display: none;
    }

    ul.megamenu li .sub-menu .content{
        img{
            &:hover{
                @include opacity(0.8);
            }
        } 
        .item-banner{
            .img-banner-w{
                margin: 0 -15px;
            }
            .img-banner{
                width: 50%;
                padding: 0 15px;
                float: $left;
            }
        }  
    } 
    ul.megamenu li.style-page .sub-menu .content{
        ul.row-list li{
            
        }
    }
    
    // MENU FEATURES
    
    .sub-menu{
        .content-feature{
            .title-feature{
                margin-bottom: 20px;
            }
            li{
                float: $left;
                width: 33.33%;
                text-align: center;
                a{
                    span{
                        display: inline-block;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #666;
                        font-weight: 600;
                    }
                    &:hover span{
                        color: $linkColor;
                    }
                }
            }
            
        }
        .demo-detail{
            ul{
                li{
                    width: 33.33%;
                }
            }
        }
    } 


    ul.megamenu{
        .menu-features{
            /*.sub-menu{
                opacity: 1;
                display: block !important;
                .content{
                    display: block !important;
                } 
            }*/
        }
        .menu-layouts{
            
        }
        .item-style1{            
            /*.sub-menu{
                opacity: 1;
                display: block !important;
                .content{
                    display: block !important;
                } 
            }*/
            .subcategory li a{
                float: $left;
                text-align: $left;
            }
            .sub-menu .content{
                .hover-menu li{
                    text-align: $left;    
                    display: inline;                
                    a{
                        text-align: $left;
                    }
                }
                
            }
            
        }
        .item-style2{
            /*.sub-menu{
                opacity: 1;
                display: block !important;
                .content{
                    display: block !important;
                } 
            }*/
            .sub-menu .content{
                ul li ul > li{
  
                

                }
            }
        }
        .quicklink-menu{
            margin-left: -30px;
            margin-right: -30px;

        }
        .quicklinks-menu{ 
            background-color: #ddd;   
            display: inline-flex;
            width: 100%;
            padding: 25px 30px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            ul{
                li{
                    float: $left;
                    line-height: 100%;
                    
                    span{
                        @include rem(font-size,14px);
                        color: #222;
                        font-weight: 700;
                    }
                    a{
                       margin-#{$left}: 5px;
                    }
                }
            }
        }

    }
    
}
/*============ MODULE MEGAMENU VERTICAL  ==================*/
/*--- mega menu vertical ---*/
.container-megamenu ul.megamenu li .sub-menu .content .hover-menu a::before{
    display: none;
}
.container-megamenu.vertical ul.megamenu > li.click::before, 
.container-megamenu.vertical ul.megamenu > li.hover::before{
    padding: 0;
}
.common-home .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a::before{
    top: 20px;
}

.vertical ul.megamenu > li.click::before, .vertical ul.megamenu > li.hover::before{
    padding: 0;
}
.container-megamenu.vertical{
    z-index: 990;
    
    #menuHeading{
        margin: 0;
        .megamenuToogle-pattern{     
            background-color: #1c1c1c;       
            .container{
                background-color: #ffc107;
                color: #1c1c1c;
                font-weight: 700;        
                font-size: 14px;
                line-height: 55px;
                height: 55px;             
                padding: side-values(0px 0px 0px 50px) !important;
                margin:0;
                position: relative;
                text-transform: uppercase;
                display: block;
                text-shadow: none;
                    &:before{
                        font-family: 'FontAwesome';
                        font-size: 18px;
                        content: '\f036';
                        color: #131313;
                        position: absolute;
                        #{$left}: 20px;
                        text-align: center;
                        top: 0px;
                        @include if-rtl {
                            content: '\f038';
                        }
                    }  
                    .fa-caret-down{
                        font-size: 12px;                        
                        color: #131313;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 1px solid #131313;
                        position: absolute;
                        #{$right}: 15px;
                        text-align: center;
                        top: 20px;
                    }
                > div{
                    display: none;
                }
                &:hover{
                    cursor: pointer;
                }
            }                      
        }
    }
    .vertical-wrapper{
        @media (min-width: 992px){
        ul.megamenu{
            //@include box-shadow(0px 0px 3px 0px rgba(204, 204, 204, 0.75));  
            background-color: #fafafa;
            > li{                
                cursor: pointer;
                padding: side-values(0 15px 0 20px);
                position: relative;
                z-index: 1;
                border: none;
                margin: 0;                
                position: relative;
                &.hot-deal{
                    a{
                        color: $linkColor;
                        font-weight: 700;
                        text-transform: uppercase;
                        strong{
                            font-weight: 700;
                        }
                    }
                }
                > a{                                   
                    color: #000;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 15px 0;
                    line-height: 100%;
                    position: relative;
                    text-transform: capitalize;
                    border-bottom: 1px solid #ebebeb;
                    background-color: transparent !important;
                    i,
                    b{
                        display: none;
                    }

                }
                &.with-sub-menu{
                    > a:before{
                        color: #000;
                        font-family: $FontAwesome;
                        @include if-ltr{             
                            content: "\f0da"; 
                        }  
                        @include if-rtl {
                            content: "\f0d9"; 
                        }  
                        font-size: 12px;
                        position: absolute;
                        #{$right}: 0px;
                        top: 20px;
                    }
                    &:hover{
                        > a:before{
                            color: #fff;
                        }
                    }
                }
                

                
            }
            .loadmore{
                padding: side-values(10px 20px 14px 50px);
                position: relative;
                i{
                    #{$left}: 15px;
                    top: 15px;
                    position: absolute;
                    font-size: 14px;
                    color: #999;
                }
                .more-view{
                    color: #222;
                    &:hover{
                        color: $linkColor;
                    }
                }
                &:hover,
                &.open{
                    i{
                        color: $linkColor;
                    }
            
                }
                &:hover{
                    
                }
            } 
        }
        }
    }
}

.container-megamenu.vertical {    
    ul.megamenu > li > a strong{
        font-weight: 400;
    }
    .vertical-wrapper{
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        ul.megamenu .sub-menu .content .img-banner img{ width: 100%; }

        ul.megamenu > li > a img{height: auto; margin: 0;margin-#{$right}: 10px;}


        /*---------------- SUB MENU VERTICAL -----------------*/
        ul.megamenu .sub-menu .content > .row{
            padding-top: 0;
        }
        ul.megamenu > li > .sub-menu .content{
            padding: 30px;
            @include if-ltr {box-shadow: 3px 1px 4px 0 rgba(0, 0, 0, 0.1);}
            @include if-rtl {box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.1);}
            
            .static-menu .menu {
                > ul{ 
                    > li{
                        margin-bottom: 15px;
                    }
                    
                    li a.main-menu{
                        color: #000;
                        @include rem(font-size,16px);
                        margin: 0 0 10px;
                        display: block;
                        font-weight: bold;
                        text-transform: uppercase;
                        border: none;
                        padding: 0 0 12px 0;
                        border-bottom: 1px solid #eaeaea;
                    }
                    ul{
                        padding: 0;
                        li{padding:  0; line-height: 32px;
                            a{
                                @include rem(font-size,14px);
                                font-weight: 400;
                                //color: #777;
                                display: block;
                            }
                            &:before{
                                display: none;
                            }
                            &:hover{
                               a{ color: $linkColor; } 
                            }
                        }
                    }
                }
            }
            .link:hover{
                img{
                    opacity: 0.8;
                }
            }
            .img-vbanner{
                a:hover{
                    img{
                        opacity: 0.8;
                    }
                }
            }
            .border{
                border: none;
                padding-top: 0;
            }
            // type subcategory
            ul.subcategory{
                .title-submenu{
                    font-weight: 700;
                    color: #000;
                    font-size: 16px;
                    text-transform: uppercase;
                    padding-bottom: 7px;
                    padding: 0;
                    margin-bottom: 10px;
                }
                .menu{
                    ul{
                        li{
                           
                            a{
                                color: #464646;
                                font-size: 14px;
                                &:hover{
                                    color: $linkColor;
                                }
                            }
                        }
                    }
                }
            }
        }


        ul.megamenu {
            
            .item-vertical.style1{
                .sub-menu{
                    .content{
                       padding-bottom: 0;                    
                    } 
                }
                .img-vbanner{
                    float: $right;
                    a{
                        margin-bottom: 30px;
                        display: block;
                        &.last{
                            margin-bottom: 0;
                        }
                    }
                }
                .categories{
                    .static-menu .menu > ul > li{
                        margin-bottom: 30px;
                    }
                }
                
            }

            .item-vertical.item-style2{     
                .link{
                    margin-bottom: 20px;
                }       
                /*.sub-menu{
                    opacity: 1;
                    display: block !important;
                    .content{
                        display: block !important;
                        > .row{
                            
                        }
                    } 
                }*/
            }
            .item-vertical.css-menu{
                
                .content{
                    padding: 0;
                    .menu ul{
                        margin: 10px 0;
                        padding: 0;
                         li{
                            padding: 0 ;
                            position: relative;  
                    

                            &:last-child{border: none;}
                            > a{ line-height: 30px; font-size: 14px; display: inline-block; width: 100%; padding: 0 20px;}
                            b{
                                float: $right;
                                line-height: 27px;
                                font-size: 16px;
                                margin: 0 20px;
                                position: absolute;
                                top: 0;
                                #{$right}:0;
                                &:before{
                                    @include if-rtl {
                                        content: "\f104"; 
                                    } 
                                }                               
                            }
                            &:hover{ > a{color: $linkColor;}} 
                            
                            ul{
                                width: 250px;
                                padding: 10px 0;
                                top: 0;
                                margin: 0;                         
                                &:before, &:after{display: none;}
                                #{$left}: 100%;
                                li{
                                   
                                    &:last-child{border: none;}
                                    > a{
                                        font-weight: normal;
                                        line-height: 30px;
                                        
                                    }

                                }
                            }
                        }
                    }
                }
            }
            li .sub-menu{
                @media (min-width: 992px) {
                    @include if-rtl {
                        left: auto;
                        right: 100% !important;
                    }
                }
          
                
                
            }

           
        } 
       
    }
}




/*============ MODULE FILTER ==================*/

.module.so_filter_wrap{
    .so-filter-option.so-filter-price .content_scroll{
        margin: 20px 0 0 10px;
    }
    .modcontent{
        background-color: #fff;
         
        ul{
            
            li.so-filter-options{
                
                margin-bottom: 10px;
                padding: 10px 0px;
                .so-filter-heading{
                    padding: 0;
                    margin-bottom: 10px;
                    background-color: transparent;
                    .so-filter-heading-text{
                        float: $left;
                        color: #222;
                        font-weight: 700;
                        text-transform: uppercase;
                        @include rem(font-size,14px);
                        padding: 0;
                    }
                }
                .so-filter-content-opts{
                    border: none;
                    .so-filter-content-opts-container{
                        padding: 0;
                        .opt-select{
                            margin: 0;
                        }
                        .opt-select ~ .opt-select{
                            border-top: 1px solid $base-border-color;
                        }
                        //.so-filter-option{
                            .so-option-container{
                                
                                padding: 10px 0;
                                label{                                    
                                    margin-bottom: 0;
                                    font-size: 14px;
                                }
                                .option-count {
                                    padding: 0;
                                    span{
                                        color: $textColor;
                                        font-size: 14px;
                                    }
                                }
                                &:hover{
                                    label,
                                    .option-count span{
                                        color: $linkColor;
                                    }
                                }
                            }
                        //}
                    }
                }
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .so-filter-content-opts-container{
            overflow: inherit;
            .so-filter-option label{ font-size: 12px; text-transform: capitalize;}
            .opt-select{ border: none;
                &.so-filter-option-sub{
                    /*margin: 0 -20px;
                    padding: 0 20px;*/
                    &:hover{
                        background-color: #fff;
                    }
                }
            }
            .noUi-horizontal .noUi-handle{
                border-radius: 100%;
                
                &:before,
                &:after{display: none;}
                //&.noUi-handle-lower{left: 0;}
                //&.noUi-handle-upper{right: 18px; left: initial;}
            }
            .put-min_max{
                display: inline-block;
                background: #fff;
                border: 1px solid #ddd;
                width: 49%;
                padding: 0 5px;
                float: $left;
                &.put-min{ margin-#{$right}: 2%; }
                input{ background: transparent; }
            }
            .option-input{
               
            }

            .input-group{
                border: 1px solid #ddd;
                background-color: #fff;
                .form-control{
                    background: transparent;
                   
                }
                .btn.btn-default{
                    padding: 7px;
                    color: #555;
                    background: transparent;
                    border-radius: 0;
                    &:hover{background: transparent; color: $linkColor;}
                }
            }
            
            .so-filter-option:hover{
                .option-input:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }
            .so-filter-option .option-input{
                .fa-square-o{
                    position: relative;
                    top: -1px;
                }
                
            }
            .so-filter-option.opt_active .option-input{
                .fa-check-square-o{
                    color: $linkColor;
                }
                &:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }

        }

        .so-filter-option.so-filter-price{
            text-align: $left;
            padding: 0;
            /*.content_scroll {
                margin: 30px 0 20px;
            }*/
        }
        .so-filter-content-opts-container ul li{
            float: $left;
        }

        .so-filter-option.so-filter-price .content_min_max{
            display: block;
            .txt-price-shopby{
                min-width: 60px;
                width: 49%;
                padding: 0 5px;
                display: inline-block;
                float: $left;
                border: 1px solid #ddd;
                display: inline-block;
                &.txt-price-shopby-fisrt{
                    margin-#{$right}: 2%;
                }
                span{
                    display: table-cell;
                    vertical-align: middle;
                    &.text-current{
                        position: relative;
                        top: 1px;
                    }
                }

            }
            .input_max,
            .input_min{
                border: none;
                box-shadow: none;
                padding: 0;
                margin: 0;
                width: 70px;
                min-width: 70px;
            }
        }
        
        .noUi-handle{
            border: 1px solid #eaeaea;
            width: 15px;
            height: 15px;
            left: -15px;
            #{right}: 15px !important;
            top: -4px;
            &:hover{
                cursor: e-resize;
            }
        }
        .noUi-connect{
            box-shadow: none;
            height: 8px;
            background: $background;       
            border-radius: 4px;    
        }
        .noUi-background {
            background: #555555;
            box-shadow:none;
            height: 8px;
            border-radius: 4px;
        }

        .noUi-target{
            border: none;
        }
   
        .clear_filter{
            padding: side-values(0 0 20px 0px);
        }
        #btn_resetAll {
            padding: 8px 15px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;     
            background-color: #777;
            &:hover{
                background-color: $background;
            }
            .fa.fa-times{
                color: $linkColor;
            }
        }
    }
}
.so-filter-content-opts-container .option-count{background-color: #ccc !important; min-width: 24px;text-align: center; margin-top: 3px;
    &:not(.opt_close):after{ display: none;   border-right-color: $input-color-placeholder;}
}
.so_filter_wrap  .modcontent {
    
    .so-filter-heading i{float: $right;}
    .so-filter-content-opts-container label{font-weight: normal;}
    .so-filter-content-opts-container .option-count{float: $right;
        @include if-rtl {
            &:not(.opt_close):after{
                left:100%;
                right: auto;
                border-right-color: transparent;
                border-left-color: $input-color-placeholder;
                
            }
        }
    }
}
.so-filter-content-opts-container .option-count span{
    color: $textColor;
}
#content .filter-horizontal{
    margin-bottom: 30px;

    .modcontent .so-filter-content-opts-container .opt-select.so-filter-option-sub{

    }

    .so-filter-heading{padding: 0 15px;}
    .so-filter-content-opts-container{padding: 15px;
        .so-filter-iscroll{
            padding: 10px 0;
        }
    }
    ul{ @include display(flex);}
    li.so-filter-options{@include flex(1);
        border:none;
        border-#{$right}: 1px solid #eaeaea;
        margin: 0;
        &:last-child{border-right: none;}
        .so-filter-heading{
            margin-bottom: 0;
        }
    }
    .clear_filter {
       padding: 20px;
       border-top: 1px solid $base-border-color;
    }
    h3.modtitle{
        color: #222;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        margin-top: 0;
    }

    .modcontent{
        border: 1px solid $base-border-color;
        ul li.so-filter-options{
            border-radius: 0;       
        }
    }
}

/*============ MODULE TAGS ===================*/
.block-tags{
    margin-top: 20px;
    .so-popular-tag{
        a{
            float: $left;
            font-size: 13px !important;
            padding: 8px 15px;
            border: 1px solid $base-border-color;
            border-radius: 5px;
            margin: side-values(0 5px 5px 0);
            line-height: 100%;
            background-color: #fff;
            &:hover{
                color: #fff;
                background-color: $background;
                border-color: $background;
            }
        }
    }
}


/*============MODULE CATEGORY ==================*/
.module-category{
    .box-category{
        
    }
}

.box-category ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.box-category > ul {
    padding: 0;
    > li {
        margin: 0;
        padding:0;
        border: none;
        position: relative;
        box-shadow: unset;
        border-radius: 0;
        border-bottom: 1px solid $base-border-color;  
        > a{                           
            display: block;
           // @include rem(font-size, 13px);
            font-weight: 400;
            line-height: 100%;
            padding: side-values(14px 47px 14px 15px);
            line-height: 100%;
            text-transform: capitalize; 
            margin: 0;     
              
        }
        &:last-child{
            @include border-bottom-radius(0px);
            border: none;
            > a{
                @include border-bottom-radius(0px);
                
            }
        }
        &:hover{
            > a{
                color: $linkColor;
            }
            .head{
                a{
                    color: #fff;
                }
            }
        }
        ul{
            margin-#{$left}: 20px; 
        }
          
        a.accordion-toggle{
            width: 25px;
            height: 25px;
            line-height: 25px;
            background-color: #dbdbdb;
            color: #fff ;
            &:hover{
                background-color: $background;
            }
        }
      
    }
} 
    
.box-category ul li a {
    
    //@include linkGray();
}
.box-category ul li a.active{color: $linkColor;} 
//.box-category ul li .head .collapsed:before, 
.box-category ul li .head .show:before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 $FontAwesome;
}

.box-category ul li .head .accordion-toggle:before {
    content: "\f105";
    @include if-rtl {
        content: "\f104";
    }
    font: normal normal normal 14px/1 $FontAwesome;
}
.box-category ul li .head {
    display: block;
    position: absolute;
    top: 8px;
    line-height: 20px;
    #{$right}: 15px;
    text-align: center;
    a:hover{
        color: #fff;
    }
    
}
.box-category ul li .head a {
     
}

.box-category ul li ul li {
    padding: side-values(0px 0px 0px 15px);
}
.box-category ul ul{margin-bottom: 20px;}
.box-category ul ul li a{padding:  3px 0;}

.box-category ul li ul li a:before{
    font-family: $FontAwesome;
    transition: all 0.3s ease;
    @include if-ltr {
        content: "\f105";
        margin: 0 5px 0 ;
    }
    @include if-rtl {
        content: "\f104";
        margin: 0 0 0 5px;
        float: right;
    }
}
.box-category ul li ul li a:hover:before{
    margin-right: 10px;
}


/* ============== Page categories ============== */

.page-categories{
    margin-top: 30px;
    ul{
        margin: 0 -6px;
        li{
            float: $left;
            padding: 0 6px;
            .cate{
                text-align: center;
                margin-bottom: 30px;
                .cate-img{
                    display: block;
                    width: 100%;
                    position: relative;
                    margin-bottom: 7px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
                a{                    
                    color: #000;
                    font-size: 14px;
                    &:hover{
                        color: $linkColor;
                    }
                }

            }
        }
    }
}


/*================ So Sticky ===============*/
@media (max-width: 1199px){
    #content #so-groups{
        display: none;
    }
}

#content #so-groups{
    > a span{
        background-color: $background;
    }
    > a:hover{
        background-color: darken($background,10%);
    }
} 

#content .so-groups-sticky{
    background-color: $background;
    &.left{
        #{$left}: 0;
        #{$right}: auto;
    }
    &.right{
        #{$right}: 0;
        #{$left}: auto;
    }
    .popup-header{
        padding: side-values(25px 70px 25px 40px);
        .popup-close{
            #{$right}: 20px;
            #{$left}: auto;
            color: #fff;
            font-size: 22px;
            opacity: 1;
        }
    }

    .product-thumb .button-group button,
    .form-content .form-box #button-search{
        background-color: $background !important;
        &:hover{
            background-color: darken($background, 10%) !important;
        }
    }
    .form-content .form-box .product-thumb .caption h4 a:hover{
        color: $linkColor;
    }
    .form-content .form-box .price .price-new, 
    .form-content .form-box .price span.price{
        color: #222;
    }
    .form-content .form-box .product-thumb .image .bt-sale,
    .popup-header{
        background-color: $background;
    }
    .form-content .form-box .product-thumb .caption{
        height: auto;
        max-height: auto;
        min-height: auto;
    }
    .popup-close, 
    .popup-close i.fa{
        font-size: 16px;
    }

    .popup-header > span > i{
        margin-#{$right}: 10px;
        margin-#{$left}: auto;
    }
    .nav-secondary{
        ul{
            li{
                a:hover{
                    color: $linkColor;
                }
            }
        }
    }
    .form-content .form-box input.field:hover,
    .form-content .form-box select.field:hover{
        cursor: pointer;
    }
}
#so-groups .form-content .form-box a.account-url:hover .account-txt{
    color: #ff5c00;
}

#so-groups .form-content .form-box input + i{
    font-size: 16px;
    margin-top: -9px;
    &:hover{
        color: $linkColor;
    }
}
#so-groups .form-content .form-box .product-thumb .caption h4{
    margin-bottom: 0;
    a{
        font-weight: 400;
    }
} 

#so-groups > a{
    position: relative;
    height: 43px;
    &.sticky-backtop{
        border-bottom: none;
    }
    span{
        background-color: $background;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        opacity: 0;
        padding: 10px;
        position: absolute;
        #{$right}: 100%;
        text-align: center;
        text-transform: capitalize;
        top: 0;
        transition: all 0.2s ease-in-out 0s;
        visibility: hidden;
        white-space: nowrap;
        width: auto;
    }
    &:hover{
        span{
            opacity: 1;
            transition: all 0.2s ease-in-out 0s;
            visibility: visible;
            width: auto;
        }
    }
}

// onepage checkout
#content .so-onepagecheckout .secondary-title i.fa{
    margin-#{$right}: 10px;
    margin-#{$left}: auto;
    background-color: $background;
}


// search pro
body #sosearchpro .dropdown-menu .media-body .box-price{
    .price-new{
        color: $linkColor;
    }
    .price{
        font-size: 13px;
        color: $linkColor;
    }
    span{
        font-weight: normal;
        font-size: 13px;
        color: #666;
    }
} 
